
ftr/

fhir-releases
.DS_Store
.#**
deploy/deploy.yaml
deploy/postgres.yaml
deploy/cloud.yaml
deploy/cluster.yaml
deploy/production/aidbox.yaml
deploy/production/cluster.yaml

docker-build/target

secret
infrastructure/secret.yaml
build.sh
infrastructure/repositories.yaml
.nrepl-port
/examples.json
fhir/test/fhir/examples
.cpcache
box/test/box/operations/import-data
box/play.http
box/scratch.clj
infrabox/pom.xml

# User-specific stuff
.idea/**
*.iml
**/channels.scm
**/guix.scm
**/.envrc

# Temporary
*~
.calva
.clj-kondo
.lsp

box/inferno-test/report.json
/box/resources/license/public-keys/testRS256.key.pub

target/
shadow-target/
.shadow-cljs/
node_modules/
