[submodule "zen.fhir"]
	path = zen.fhir
	url = https://github.com/zen-fhir/zen.fhir.git
[submodule "hl7-fhir-r4-core"]
	path = hl7-fhir-r4-core
	url = https://github.com/zen-fhir/hl7-fhir-r4-core.git
