{ns extended-zen-cli
 import #{zen.cli}


 build-ftr
 {:zen/tags   #{zen.cli/command}
  :zen/desc   "build-ftr"
  :args-style :positional
  :args       {:type     zen/vector
               :maxItems 0}}


 get-ftr-index-info
 {:zen/tags   #{zen.cli/command}
  :zen/desc   "get-ftr-index-info"
  :args-style :positional
  :args       {:type     zen/vector
               :maxItems 0}}


 config
 {:zen/tags #{zen.cli/config}
  :commands {:build-ftr          {:command build-ftr}
             :get-ftr-index-info {:command get-ftr-index-info}
             :zen                {:config zen.cli/zen-config}}}}
